<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="robot.arm"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:name=".base.BaseApp" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/XTheme">
        <activity android:name=".common.TabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  专辑封面 -->
        <activity android:name=".ModelCoverActivity" />
        <activity android:name=".DesignCoverActivity" />
        <activity android:name=".ActorCoverActivity" />
        <activity android:name=".MovieCoverActivity" />
        <activity android:name=".ArtCoverActivity" />
        <!-- 专辑内容 -->
        <activity android:name=".ModelContentActivity" />
        <activity android:name=".DesignContentActivity" />
        <activity android:name=".ActorContentActivity" />
        <activity android:name=".MovieContentActivity" />
        <activity android:name=".ArtContentActivity" />
        <!-- 展示大图 -->
        <activity android:name=".TouchImageViewActivity" />

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>